

footer h6{
  color:#4f4f4f;
  font-weight: 300;
  font-size: 0.9rem;
}

.wow {
  visibility: hidden;
}

.linea{
  width:0;
  border-top:1px solid rgba(1,0,0,.5);
  -webkit-transition:   width 2s;
  transition:  width 0.3s ease-in;
}
footer .container div:hover ~ .linea{
  width: 30%;
  border-top:1px solid rgba(1,0,0,.5);
}

@keyframes autofill {
  to {
      color: rgb(2, 0, 0);
      background: transparent;
  }
}

input:-webkit-autofill {
 animation-name: autofill;
 animation-fill-mode: both;
}

